<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SWA</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<!--<html xmlns:th="https://www.thymeleaf.org"-->
<!--      th:replace="~{fragments/layout :: layout (~{::body})}">-->
<body>
<h2>Add new StarShip</h2>
<form action="#" th:action="@{/starships}" th:object="${starShip}" method="POST">
  <div>
    <label th:for="name">StarShip Name:</label>
    <input type="text" th:field="*{name}" />
  </div>
  <div>
    <label th:for="description">Descripton:</label>
    <input type="text" th:field="*{description}" required/>
  </div>
  <div>
    <label th:for="fuelCapacity">Fuel Capacity:</label>
    <input type="number" th:field="*{fuelCapacity}" required/>
  </div>

  <div>
    <input type="submit" value="Add new StarShip" />
  </div>
</form>
<h3><a class="link" th:href="@{/starships}">Back to List</a></h3>
</body>
</html>