<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body})}">

<head>
  <meta charset="UTF-8">
  <title>Show page</title>
</head>
<body>
  <div  th:object="${current}">
    <h2 th:if="*{bananas < 500}" th:text="*{name}"></h2>
    <dl>
      <dt><strong>Role:</strong></dt>
      <dd th:text="*{role}"></dd>

      <dt><strong>Location:</strong></dt>
      <dd th:text="*{location}"></dd>

      <dt><strong>Bananas:</strong></dt>
      <dd th:text="*{bananas}"></dd>
    </dl>
    <h2 th:unless="*{bananas >= 500}">Not enough nanas...</h2>
  </div>
</body>
</html>